<aside class="app-sidebar" id="sidebarOffcanvas">
  <div class="app-sidebar__brand">
    <span class="app-sidebar__logo">popwear</span>
    <span class="app-sidebar__pro">PRO</span>
  </div>

  <%# Navigation ajoutée au livrable 3. %>
</aside>
