<%# Sidebar permanente (desktop ≥992px). En dessous, c'est l'off-canvas qui prend le relais. %>
<aside class="app-sidebar d-none d-lg-flex">
  <div class="app-sidebar__brand">
    <span class="app-sidebar__logo">popwear</span>
    <span class="app-sidebar__pro">PRO</span>
  </div>

  <%= render "shared/sidebar_nav" %>
</aside>
