<%# Off-canvas mobile (<992px) : même navigation, ouvert par le hamburger du header. %>
<div class="offcanvas offcanvas-start app-sidebar-offcanvas d-lg-none"
     tabindex="-1" id="sidebarOffcanvas" aria-labelledby="sidebarOffcanvasLabel">
  <div class="offcanvas-header">
    <div class="app-sidebar__brand mb-0 pb-0">
      <span class="app-sidebar__logo" id="sidebarOffcanvasLabel">popwear</span>
      <span class="app-sidebar__pro">PRO</span>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
  </div>
  <div class="offcanvas-body">
    <%= render "shared/sidebar_nav" %>
  </div>
</div>
